{% extends 'base.html' %}
{% block content %}
{% load static %}


<div style="background:black;">	
	<div data-aos="fade-down" class="container" style="background-image:url({%static 'images/de.jpg' %}); background-size: cover;">
		<div class="row pt-5 pb-3" >
			<h1 class="text-warning" style="font-family:monospace;">About Us</h1>
			<h2 class="text-white mt-3" style="font-family:monospace;">Take a Stand Against Cyberbullying with Us</h2>	
		</div>

		<div class="row"  >
			<div class="col-md-6" data-aos="zoom-in-left">
				
				<img src={%static "images/p3.jpg" %} width="80%" height="100%" style="border-radius:20px" class=" pb-5">
			</div>
					
			<div data-aos="fade-left" class="col-md-6">
				<p class="text-white" style="font-size:20px;">Cyberbullying is a pervasive issue in today's digital world. With the proliferation of social media platforms and online communication channels, individuals of all ages are vulnerable to harassment, intimidation, and humiliation. The anonymity and accessibility afforded by the internet have exacerbated this problem, making it crucial for individuals, families, and communities to take proactive measures to address and prevent cyberbullying.</p>

				<p class="text-white" style="font-size:20px">we're dedicated to combating cyberbullying and fostering a safer online environment for all. Through education, awareness, and innovative solutions, we strive to empower individuals to navigate the digital landscape with confidence and resilience</p>
			</div>
		</div>
	</div>
</div>
<div class=" pt-5" style="background-image:url({%static 'images/b4.jpg'%}); background-size:contain;">
	<h1 data-aos="fade-right" class="text-warning ms-5" style="font-size:60px;font-family:monospace;">FEATURES</h1>
		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-3" align="right">
  <i class="icofont-cop icofont-9x text-warning"></i>
			</div>
			<div data-aos="fade-right" class="col-md-7" align="left">
				<h1 class="text-warning" style="font-family:monospace;">Police stations</h1>
				<p class="text-white">A police station is a place where individuals can report instances of online harassment, threats, or other forms of cyberbullying to law enforcement authorities</p>
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-3" align="right">
  <i class="icofont-law-book icofont-8x text-warning"></i>
			</div>
			<div data-aos="fade-right" class="col-md-7" align="left">
				<h1 class="text-warning" style="font-family:monospace;">Cybersecurity Laws</h1>
				<p class="text-white">Cybersecurity laws are legal frameworks established by governments or regulatory bodies to protect digital information, systems, and networks from unauthorized access, disruption, misuse, or damage.</p>
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-3" align="right">
  <i class="icofont-court icofont-8x text-warning"></i>
			</div>
			<div data-aos="fade-right" class="col-md-7" align="left">
				<h1 class="text-warning" style="font-family:monospace;">Laws</h1>
				<p class="text-white">laws refer to specific regulations enacted to address and mitigate instances of online harassment, intimidation, or abuse.</p>
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-3" align="right">
  <i class="icofont-ui-note icofont-8x text-warning"></i>
			</div>
			<div data-aos="fade-right" class="col-md-7" align="left">
				<h1 class="text-warning" style="font-family:monospace;">Terms</h1>
				<p class="text-white"> terms refers to the conditions or rules set forth by social media platforms, websites, or online communities regarding acceptable behavior and usage.</p>
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-3" align="right">
  <i class="icofont-ui-chat icofont-8x text-warning"></i>
			</div>
			<div data-aos="fade-right" class="col-md-7" align="left">
				<h1 class="text-warning" style="font-family:monospace;">FAQs</h1>
				<p class="text-white"> "FAQ" stands for "Frequently Asked Questions." These are questions and answers that are commonly encountered regarding the topic of cyberbullying.</p>
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<h1 data-aos="fade-left" class="text-warning mb-4 me-9 pe-5" style="font-family:monospace; font-size:60px" align="right">TOOLS</h1>
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Text-To-Speech</h1>
				<p class="text-white">converts written text into spoken words, allowing computers or devices to read digital content aloud</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f1.jpg" %} height="80%" width="50%" style="border-radius: 20px;">
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Speech-To-Text</h1>
   				 <p class="text-white">converts spoken words into written text, enabling computers or devices to transcribe audio input into readable text</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f7.jpg" %} height="80%" width="50%" style="border-radius: 20px;">
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Language Detector</h1>
				<p class="text-white">identification of the language in a given text or speech input</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f12.jpg" %} height="80%" width="45%" style="border-radius: 20px;">
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Language Translation</h1>
				<p class="text-white">Language translation is the process of converting text from one language into another</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f11.jpg" %} height="80%" width="50%" style="border-radius: 20px;">
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Word Cloud</h1>
				<p class="text-white">representation of text data, where words are displayed in varying sizes according to their frequency of occurrence within the text</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f9.jpg" %} height="90%" width="60%" style="border-radius: 20px;">
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Sentiment Analysis</h1>
				<p class="text-white">analyzing text to determine the sentiment or emotion expressed within it, classifying the sentiment as positive, negative, or neutral</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f6.jpg" %} height="90%" width="50%" style="border-radius: 20px;">
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Linguistic Analysis</h1>
				<p class="text-white">examining the structure, patterns, and features of language within text data to extract meaningful insights about language use, grammar, semantics, and syntax</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f13.jpg" %} height="90%" width="50%" style="border-radius: 20px;">
			</div>
		</div>

		<div class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-2"></div>
			<div data-aos="fade-left" class="col-md-7" align="right">
				<h1 class="text-warning" style="font-family:monospace;">Cyberbully Detection</h1>
				<p class="text-white">identifying and flagging text or speech that contains offensive, inappropriate, or harmful language</p>
			</div>
			<div class="col-md-3" align="left">
				<img src={%static "images/f2.jpg" %} height="90%" width="50%" style="border-radius: 20px;">
			</div>
		</div>

		<div data-aos="fade-up" class="row p-5 mt-5" style="background: rgba(0, 0, 0, 0.3);">
			<div class="col-md-4"></div>
			<div class="col-md-4" align="center">
		    <a class="btn btn-warning" href="{% url 'contactus' %}">CONTACT US NOW</a>
			</div>
			<div class="col-md-4"></div>
		</div>
</div>
		
{% endblock %}


