{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'icofont/icofont.min.css' %}">
	<style type="text/css">
		.a1::placeholder{color:white}
	</style>
	
</head>
<body>
	<div class="container-fluid bg-dark text-light pb-3">
		<div2 class="container">
			<div class="row pt-5 pb-1" id="r2">
				<div class="col-md-3"></div>
				<div class="col-md-6" align="center">
					<h1 class="pt-3" id="r2">Every website must be strong<br>
					 in the fortress of security</h1>
					</div>
				</div>
			</div>
		</div>
	<div class="container-fluid bg-dark text-light pb-1">
		<div class="container">
			<div class="row pt-1 pb-1" align="center">				 
					 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>

					 </div>	 
				<div class="col-md-3"></div>
				</div>
			</div>
		</div>
	</div>	








	<div class="container-fluid bg-dark text-light pb-5">
		<div class="container">
			<div class="row pt-1 pb-5">
				<div class="col-md-3"></div>
				<div class="col-md-6" align="center">				 
					 <div class="input-group mb-3 border-0">
  <input type="text" class="form-control border-0 border-bottom a1" style="background:transparent;" placeholder="Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
  	<button class="border-0"><span class="input-group-text" id="basic-addon2">SUBSCRIBE NOW</span></button>
</div>
				</div>	 
				<div class="col-md-3"></div>
				</div>
			</div>
		</div>
	</div>				 







	<div class="container-fluid bg-dark text-light pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1 class="pt-3 text-warning ">encrypt</h1>
					<p>
					Suzy Queue 4455 Landing
					 Lange, Louisville, KY 40018-1234
					</p>
					<i class="icofont-facebook icofont-1x bg-secondary p-2"></i>
					<i class="icofont-twitter icofont-1x  bg-secondary p-2"></i>
					<i class="icofont-youtube icofont-1x  bg-secondary p-2"></i>
					<i class="icofont-linkedin icofont-1x bg-secondary p-2"></i>
				</div>
				<div class="col-md-3 ">
					<h5 class="ps-3 text-warning ">Company</h5>
					<ul>
						
						<li ><i class="icofont-bubble-right"></i>About Us  </li>
						<li ><i class="icofont-bubble-right"></i>Our Approach </li>
						<li ><i class="icofont-bubble-right"></i>Meet Our Team</li>
						<li ><i class="icofont-bubble-right"></i>Resources </li>
						<li ><i class="icofont-bubble-right"></i>Case Study </li>
					</div>
					<div class="col-md-3" align="left"> 
						<h5 class="ps-3 text-warning ">Quick Links</h5>
						<ul>
							
							<li><i class="icofont-bubble-right"></i>Contact Us  </li>
							<li><i class="icofont-bubble-right"></i>Career  </li>
							<li><i class="icofont-bubble-right"></i>Vlog  </li>
							<li><i class="icofont-bubble-right"></i>Events  </li>
							<li><i class="icofont-bubble-right"></i>Our Words  </li>
						 </ul>
					 </div>
					
				<div class="col-md-3" align="left"><h5 class="ps-3 text-warning ">contact info</h5>
					<ul>
						<li><h2>info@yoursite.com</h2></li>
						<li><h2>+62 873 35973</h2></li>
				</div>
			</div>
					
			</div>
		</div>
	</div>


	<div class="container-fluid bg-dark text-light pb-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6">Copyright © 2024 Encrypt Template Kit </div>

				<div class="col-md-6" align="right"> Privacy policy &nbsp;&nbsp;&nbsp;&nbsp;
    Terms of services</div>
</body>
</html>