{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type=" text/css" href="{%static 'css/style.css' %}">
	<link rel="stylesheet" type=" text/css" href="{%static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type=" text/css" href="{%static 'icofont/icofont.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css/aos.css' %}">

	<style type="text/css">
		img{border-radius: 20px}
	</style>
	
</head>
<body>
		<div class="container-fluid"style="background-image:url({%static 'images/b3.jpg' %});background-size:contain;">
		<div data-aos="zoom-out-left" class="container pt-5 pb-5">
			<div class="row ms-4">
				<div class="col-md-1"></div>
					<div class="col-md-10 pb-5"  align="center">
						<div class="row p-5">
							<div class="col md-6 bg-black p-3">
							<img src={%static "images/pass.jpg" %} width="100%" height="100%">
							</div>

							


						<div  class="col md-6 p-3" style="background:rgba(0, 0, 0, .40);">
							<div class="row pt-3 pb-5"></div>
								<H3 class="text-warning">FORGOT PASSWORD?</H3>
								<i class="icofont-lock icofont-6x text-warning"></i>
							<div class="row pt-3 pb-5"></div>	
							
							<form method="POST" action="">
							{% csrf_token %}
							<p class="text-warning">{{rest}}</p>
							  <div class="mb-3">
							  	<label for="exampleInputPassword1" class="form-label text-warning">ENTER EMAIL</label>
							    <input type="email" class="form-control text-warning" id="exampleInputEmail1" name="em" style="background:black;">
							    
							  </div>
							
							
							  <div class="mb-2">
							    <div class="row pt-2 pb-3"></div>
							    <button type="submit" class="btn btn-primary" id=b2>RESET MY PASSWORD</button>
							  </div>
							  							  <div class="mb-3">
							    <div class="row pt-2 pb-2"></div>
							    <a href="{% url 'login' %}" type="submit" class="btn btn-warning">Login Now</a>
							  </div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/aos.js' %}"></script>
<script type="text/javascript">
  AOS.init()
</script>
{% endblock %}