{% extends 'sidear1.html' %}
{% block content %}
{% load static %}
<body style="background-image:url({%static 'images/b4.jpg'%}); background-size: cover;">
<div class="container-fluid">
<div class="container m-5 p-5">
<div class="row m-4 p-5"style="background: linear-gradient( to left, #000000 56%, #ffcc00 100%); border-radius:20px">
	<div class="col-md-2"></div>

		<div  data-aos="fade-up"  class="col-md-8  " align="center" >
			<img src={%static "images/f9.jpg" %} width="40%" height="35%" style="border-radius: 20px;" class="me-3">
			<h2 class="pt-2 text-warning" style="font-family:monospace; font-size:50px;">Word Cloud</h2>
			<div class="row pb-5">
				
				<div class="col-md-12">
				<form method="POST" action="">
			             {% csrf_token %}
						<div data-aos="fade-down"  class="form-group pt-2  mb-5">
						    <label for="exampleFormControlTextarea1" class="text-warning">Input textarea</label>
						    <textarea class="form-control text-warning" id="exampleFormControlTextarea1" rows="8" name="di" style="background:transparent;"></textarea>
						    <button class="btn btn-warning mt-5 mb-5" type="submit">Submit</button>
						  </div>
					</form>
				</div>
				
			</div>
		</div>

	<div class="col-md-2"></div>
</div>
</div>	
</div>
</body>





{% endblock %}