{% extends 'sidear1.html' %}
{% block content %}
{% load static %}
<body style="background-image:url({%static 'images/b4.jpg'%}); background-size: cover;">
<div class="container p-5" style="border-radius:20px">
<div class="row"style="background: linear-gradient( to bottom, #000000 56%, #ffcc00 100%);">
	

	<div class="col-md-6  pt-5" align="center" >
	<img src={%static "images/f9.jpg" %} width="80%" height="80%" style="border-radius: 20px;" class="me-3">
	<h2 class="pt-3 me-3" style="font-family:monospace; font-size:50px">Word Cloud</h2>
	</div>

	<div data-aos="zoom-in" class="col-md-6 mt-5" align="center">
		<img src="{%static 'wordcloud.png' %}" width="80%" height="80%">
		<h3 class="pt-3" style="font-family:monospace; font-size:50px">Result</h3>
	</div>
</div>	

	<div class="row"style="background: linear-gradient( to top, #000000 56%, #ffcc00 100%);" align="center">
	<div class="col-md-1"></div>

	<div class="col-md-10 pb-5">
			<div class="form-group pt-5 pb-5">
			    <label for="exampleFormControlTextarea2" style="font-size:30px;">Input Text</label>
			    <textarea readonly class="form-control text-warning" id="exampleFormControlTextarea2" rows="8" name="di" style="background:transparent;">{{data}}</textarea>
			  </div>
	</div>
	<div class="col-md-1"></div>
		
	</div>
	
</div>
</body>


{% endblock %}